@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Rochester&family=Splash&display=swap');

/* Body styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#2e7071, #FFFFFF);
    text-align: center;
}

.paw {
    color: #383940;
    font-size: 60px;
    display: inline;
}

span#finder {
    font-family: 'Kranky';
    font-size: 60px;
    color: #FFFFFF;
    display: inline;
}

.slogan {
    font-size: 24px;
    font-weight: 200;
    padding-top: 0%;
    margin-top: 0%;
}

/* Navigation Bar Styling */
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
}

.logo {
    display: inline;
    height: 5%;
    width: 5%;
}

.contrast {
    color: #FFFFFF;
    font-weight: 500;
}

/* Animal Selection Styling */
.animalSelection {
    background-color: #383940;
    border-top: 2px solid #FFFFFF;
    padding-bottom: 20px;
}

#pawfect {
    color: #FFFFFF;
    text-shadow: 4px 3px 3px #2e7071, 1px 1px 2px #2e7071, 1px -1px 0 #2e7071, -1px -1px 0 #2e7071;
    align-items: center;
    margin-top: 30px;
    font-weight: 300;
}

.note {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 100;
}

#animalType {
    display: block;
    text-align: center;
    background-color: #FFFFFF;
    max-width: 550px;
    padding: 10px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #FFFFFF;
}

#animalType:checked {
    border: 5px solid #2e7071;
}

/* Random Name and Dog Breed button styling */
#generateButton {
    justify-content: center;
    display: inline-block;
    flex-wrap: wrap;
    background-color: #2e7071;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    margin: 10px;
}

.dogBreed {
    justify-content: center;
    display: inline-block;
    flex-wrap: wrap;
    background-color: #2e7071;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    margin: 10px;
}

/* Modal Styling */
article {
    background-color: #383940;
    border: none;
}

.selectBreed {
    background-color: #383940;
    color: #FFFFFF;
    border: none
}

.breedText {
    color: #FFFFFF;
}

#select {
    background-color: #FFFFFF;
    border: 3px solid #2e7071;
}

.modalBottom {
    background-color: #383940;
    border: none
}

.modalReturn {
    background-color: #2e7071;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
}

/* Name List Styling */
#nameList {
    background-color: #383940;
    color: #FFFFFF;
    list-style-type: none;
    margin-top: -21px;
    border-bottom: 2px solid #FFFFFF;
    ;
    font-size: 22px;
}

button {
    background-color: #2e7071;
    border: 3px solid #FFFFFF;
    margin: 20px;
    padding: 10px;
}

/* Video Styling */
#video-and-images {
    justify-content: center;
}

.video {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    max-height: 60%
}

.cats-fact {
    border: 3px solid #2e7071;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    margin-left: 140px;
    width: 80%;

}

button.clicker {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#cat,
#cath2 {
    color: #FFFFFF;
}

.cats-fact p {
    color: #383940;
    padding: 0px 10px 0px 10px;
    font-weight: 300;
}

.fact {
    margin-top: 50px;
}

#img-cat {
    width: 50%;
}

#nameList li {
    list-style-type: none;
}

#feedback {
    justify-content: center;
    display: inline-block;
    flex-wrap: wrap;
    background-color: #2e7071;
    color: #FFFFFF;
    border: 3px solid #383940;
    border-radius: 5px;
    margin: 10px;
    width: 80%;
}

.feedbackTitle {
    margin-top: 20px;
}

.comments {
    margin-top: 20px;
}

.firstName, 
.comments, 
.feedbackEmail {
    background-color: #383940;
    max-width: 60%;
    display: inline-block;
}


.submit {
    background-color: #383940;
    max-width: 40%;
    border: 3px solid #FFFFFF;
}

.aboutUssection {
    color: #383940;
}

.michael {
    color: #383940;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.juju {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.bailey {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.jose {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.rafael {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.emails {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}